main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* altura da tela menos header e footer */
  background-color: #f8f9fa; 
  padding: 20px;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nome-produto {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #343a40;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}

.descricao {
  font-size: 14px;
  color: #6c757d;
  flex: 1;
}

.preco {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  margin-left: 10px;
}

form {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

.input-padrao,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 14px;
}

.input-padrao[readonly]{
  background-color: #e9ecef; 
  color: #6c757d;
  cursor: not-allowed;
  border: 1px solid #ced4da;
}

select:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
  border: 1px solid #ced4da;
}

.enviar {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #343a40; /* combina com o header bg-dark */
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.enviar:hover {
  background-color: #495057;
}


